body{
    background-image: url("https://img.freepik.com/premium-photo/colorful-various-herbs-spices-cooking-dark-background_370312-476.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1696377600&semt=ais");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  h1 {
    margin: 0;
  }
  
  .featured-recipes {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1em 0;
  }
  
  h2 {
    color: #333;
  }
  
  .recipe-card {
    border: 1px solid #ddd;
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
 
  

